---
tc_id: TC-Info-016
title: Verify OTP Cannot Be Reused After Successful Verification
priority:
  - High
status:
  - Draft
type:
  - Functional
linked_requirement: Projects/Project-Chalets/Requirements/Atomic/Role-Profile/Client
tags:
  - test-case
---

# Test Data
| Field | Value |
| ----- | ----- |
|       |       |
|       |       |

# Preconditions
-Previously used OTP.
# Steps
1. Successfully change the mobile number using an OTP.
2. Attempt to use the same OTP again.
# Expected Result
-The system rejects the previously used OTP.
# Notes

# Attachments

# Script

---
*Last Updated: {{date}} {{time}}*