---
tc_id: TC-018
title: Verify added product is displayed correctly
priority:
  - High
status:
  - Ready
type:
  - Functional
linked_requirement: US-006
tags:
  - test-case
run_result: Fail
---

# Test Data
| Field                     | Value      |
| ------------------------- | ---------- |
| Administrator Credentials | Email/Pass |
|                           |            |

# Preconditions
An administrator is logged into the admin panel 
# Steps
1-Navigate To Products (Books)
2-Click Add book
3-Observe added book
# Expected Result
The product is added successfully and appears in the products list and on the website with all information displayed correctly, including the image, title, and product details.
# Notes

# Attachments
