---
tc_id: TC-Info-003
title: Verify that the registered phone number is displayed as the current account phone
priority:
  - High
status:
  - Draft
type:
  - Functional
linked_requirement: Edit Profile
tags:
  - test-case
---

# Test Data
| Field | Value |
| ----- | ----- |
|       |       |
|       |       |

# Preconditions
-Customer has a registered phone.
# Steps
1. Open Edit Profile.  
2. Check phone field.
# Expected Result
-Current registered phone is displayed correctly.
# Notes

# Attachments

# Script

---
*Last Updated: {{date}} {{time}}*